@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@*Move information to come about the game once JavaScript is added to the project *@
<p>
	Improve your equation solving skills with this fun app! Complete the correct steps to isolate the
	variable and solve for x -- - Make the pug happy!!! You get to choose equations that are
	appropriate for your level with a wide variety of options.
</p>
