<head>
	@{
		ViewBag.Title = "Home Page";
	}
	<link rel="stylesheet" type="text/css" href="~/Content/Custom.css">
</head>
@*The Pug Math Game at the top of this heading is where the actual game will be*@
@*Home page for this project. 
The math application will be added at a later date. This will eventually be a tool for teachers to use for student.*@
@*Custom css was linked in the head with the ViewBab.Title*@

<div class="jumbotron">
	<h1>Pug Math Game</h1>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Welcome to The Pug Math Game</h2>
		<p>
			Improve your equation solving skills with this fun app! Complete the correct steps to isolate the
			variable and solve for x -- - Make the pug happy!!! You get to choose equations that are
			appropriate for your level with a wide variety of options.
		</p>
		@*The links below are to videos explaining how to solve linear equations*@
	</div>
	<div class="col-md-4">
		<h2>Math Resources</h2>
		<p>Practcing math is the best way to learn.</p>
		<p><a class="btn btn-default" href="https://www.youtube.com/watch?v=KwggYL59tlU">Pug Math Examples</a></p>
	</div>
	<div class="col-md-4 lowdiv">
		<h2>Download it</h2>
		<p>You can download the videos of how to solve linear equations</p>
		<p><a class="btn btn-default" href="https://www.youtube.com/watch?v=ddu9OSmViaQ">More Examples</a></p>
	</div>
	@*Inage of a sad Pug, could not keep image from rotating. *@
	<div class="pic">
	<img class="img-responsive" style="margin: 0 auto;" src="../Content/IMG_5575.jpg" />
</div>
	

</div>