@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Pug Math Game</h1>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Welcome to The Pug Math Game</h2>
		<p>
			This game is a test of math knowledge.
			The purpose is to play to increase each students abilities. 
		</p>
	</div>
	<div class="col-md-4">
		<h2>Math Resources</h2>
		<p>Practcing math is the best way to learn.</p>
		<p><a class="btn btn-default" href="https://www.youtube.com/watch?v=KwggYL59tlU">Pug Math Examples</a></p>
	</div>
	<div class="col-md-4">
		<h2>Download it</h2>
		<p>You can download the videos of how to solve linear equations</p>
		<p><a class="btn btn-default" href="https://www.youtube.com/watch?v=ddu9OSmViaQ">More Examples</a></p>
	</div>
</div>