@model PugApp.Models.Student
@{
				/**/

				ViewBag.Title = "Delete";
}

<h2>Delete</h2>  @*Delete Page For App*@

<p>Are you sure you really want to delete this student?</p>

@using (Html.BeginForm())
{
	@Html.HiddenFor(s => s.ID)
	<button type="submit">Delete</button>
}				@*Add More Text After This Line*@