
/*Custom Css*/


nav {
color: blue;

}



h1, h2 {
color:darkblue;
}

body {
background-color: aliceblue;
border-color: darkblue;

}

img {
	transform: rotate(90deg);
}

.lowdiv {
	padding-bottom: 75px;
}